* {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#root {
    width: 100dvw;
    height: 100dvh;

    --fundo-card-login: #f4f4f4;
    --cor-principal: #04B19C;
    --cor-secundaria: #762D6F;
    --terceira-cor: #DAA520;
}

@font-face {
    font-family: 'sf-pro-hounded-black';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'sf-pro-hounded-bold';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'sf-pro-hounded-heavy';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'sf-pro-hounded-light';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'sf-pro-hounded-medium';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'sf-pro-hounded-regular';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2');
}   

@font-face {
    font-family: 'sf-pro-hounded-semibold';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Semibold.woff2') format('woff2');
}   
    
@font-face {
    font-family: 'sf-pro-hounded-thin';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'sf-pro-hounded-ultralight';
    src: url('/src/assets/fonts/SF-Pro-Rounded-Ultralight.woff2') format('woff2');
}