#detalhe-fundo-menu {
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-bar-menu {
    width: 220px;
    height: 680px;
    border-radius: 20px;

    margin-left: 20px;
    margin-top: -100px;

    position: absolute;
}

#icone-menu {
    width: 50px;
    height: 50px;

    background-color: var(--fundo-card-login);
    margin: 20px 0px 0px 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background-image: url(/src/assets/perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    display: flex;

    border-radius: 15px;

    position: absolute;
    z-index: 2;

    cursor: pointer;

}

#jornada-menu {
    width: 130px;
    height: 70px;

    margin: 110px 0px 0px 20px;
    background-color: var(--cor-principal);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: white;

    background-image: url(/src/assets/logoJornada.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 40px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    padding-right: 10px;

    transition: 0.5 ease all;
    cursor: pointer;
}

#jornada-menu:hover  {
    width: 200px;
    transition: 0.5s all ease;
}

#temas-menu {
    width: 75px;
    height: 70px;


    margin: 210px 0px 0px 20px;
    background-color: var(--fundo-card-login);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: black;

    background-image: url(/src/assets/logoTemas.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 20px;

    padding-left: 20px;

    cursor: pointer;
}

#logo-atlas-menu {
    width: 130px;
    height: 40px;

    margin-top: 590px;
    margin-left: 35px;

    position: absolute;
    z-index: 1;
}

#logo-atlas-menor-menu {
    width: 40px;
    height: 45px;

    margin-top: 600px;
    margin-left: 20px;

    position: absolute;
    z-index: 1;
}

header {
    width: 1760px;
    height: 860px;
    background-color: var(--fundo-card-login);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    position: absolute;

    margin-top: -275px;
    margin-left: 130px;
}

#card-menu {
    width: 1380px;
    height: 690px;
    margin: 70px;

    display: flex;
}

#left-container-menu {
    width: 450px;
    height: 640px;

    display: flex;
    flex-direction: column;
}

#greetings-h1 {
    font-family: 'sf-pro-hounded-bold';
    font-size: 40px;

    margin-bottom: 20px;
}

#greetings-p {
    font-family: 'sf-pro-hounded-medium';
}

/* container da direita */

#right-container-menu {
    width: 1200px;
    height: 640px;

    margin-left: 20px;
}

#new-essay {
    width: 220px;
    padding: 10px;
    
    border-radius: 30px;

    font-size: 17px;
    font-family: 'sf-pro-hounded-medium';
    color: white;

    background-color: #762D6F;
    background-image: url(/src/assets/logoEscreverRedacao.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 25px;

    padding-left: 35px;
    margin-left: 915px;

    border: none;
    cursor: pointer;
}

#new-essay-container {
    position: absolute;
}

/* redacoes corrigidas */

#corrected-essays-container {
    width: 1130px;
    margin-top: 80px;

    position: absolute;
}

#redacao-corrigida {
    font-family: 'sf-pro-hounded-light';
    font-size: 16px;
    color: black;

    display: flex;
    justify-content: space-between;
}

#redacao-corrigida a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
    text-decoration: none;
}

/*

#redacao-corrigida h3::before, #redacao-corrigida h3::after {
    content: '';
    position: absolute;
    width: 30%;
    border-top: 1px solid var(--cor-principal);
    margin-top: 0.9%;
}

#redacao-corrigida h3::before {
    margin-left: 170px;
}

#redacao-corrigida h3::after {
    margin-left: 180px;
}

*/

#ver-tudo {
    text-align: end;
}

#ver-tudo a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
    text-decoration: none;
}

#corrected-essay-mensage {
    font-family: 'sf-pro-hounded-medium';
    font-size: 18px;
    
    background: transparent;
    text-align: center;
}

.corrected-essay {
    width: 200px;
    padding: 20px;

    margin-top: 30px;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*
    align-items: end;
    justify-items: center;
    */

    scroll-snap-align: start;

    background-color: white;
}

#corrected-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
    margin-bottom: 16px;

    background: none;
}

#corrected-time {
    background: none;

    font-size: 16px;
    font-family: 'sf-pro-hounded-medium';
}

#corrected-menu {
    cursor: pointer;
    font-size: 30px;
    color: #888;

    background: none;
    border: none;
}

#corrected-footer {
    display: flex;
    justify-content: flex-end;

    background: none;
}

#NumberFinalScore {
  background-color: var(--cor-principal);
  color: white;

  padding: 6px 20px;
  border-radius: 20px;

  font-weight: bold;
  font-size: 18px;
  font-family: 'sf-pro-hounded-light';
}

#NumberFinalScore-background {
    width: 35px;
    height: 25px;

    padding: 5px 20px;
    border-radius: 15px;

    margin-top: 120px;
}

#themeFinalScore {
    font-family: 'sf-pro-hounded-medium';
    font-size: 16px;

    line-height: 1.4rem;

    background: transparent;

    margin-bottom: 16px;
}

#conteudo-corrected-essay-carrosel {
    width: 1130px;
    height: auto;
}

#corrected-essay-carrosel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 30px;
}

#corrected-essay-carrosel::-webkit-scrollbar {
    display: none;
}

/* fim redacoes corrigidas */

/* Rascunhos */

#draft-essays-container {
    width: 1130px;
    height: auto;

    position: absolute;
}

#rascunho {
    font-family: 'sf-pro-hounded-light';
    font-size: 16px;
    color: black;

    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

#rascunho a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
    text-decoration: none;
}


.draft-essay {
    width: 200px;
    padding: 20px;

    margin-top: 35px;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*
    align-items: end;
    justify-items: center;
    */

    scroll-snap-align: start;

    background-color: white;
}

.draft-essay p {
    font-family: 'sf-pro-hounded-medium';
    font-size: 18px;
    
    background: transparent;
    text-align: center;
}

#themeFinalScore-draft {
    width: auto;
    height: auto;

    resize: none;
    border: none;

    font-family: 'sf-pro-hounded-medium';
    font-size: 16px;
    
    cursor: pointer;

    line-height: 1.4rem;

    background: transparent;

    margin-bottom: 16px;
    
    transition: 0.3s ease;
    transform: 0.3s ease;
    
}

#themeFinalScore-draft:hover {
    color: var(--cor-principal);
    transform: scale(1.05);
}

#conteudo-draft-essay-carrosel {
    width: 1130px;
    height: auto;
}

#draft-essay-carrosel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 30px;
}

#draft-essay-carrosel::-webkit-scrollbar {
    display: none;
}




