#detalhe-fundo-menu {
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-bar-menu {
    width: 220px;
    height: 680px;
    border-radius: 20px;

    margin-left: 20px;
    margin-top: -100px;

    position: absolute;
}

#icone-menu {
    width: 50px;
    height: 50px;

    background-color: var(--fundo-card-login);
    margin: 20px 0px 0px 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background-image: url(/src/assets/perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    display: flex;

    border-radius: 15px;

    position: absolute;
    z-index: 2;

    cursor: pointer;

}

#jornada-menu {
    width: 250px;
    height: 70px;


    margin: 110px 0px 0px 20px;
    background-color: var(--cor-principal);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: white;

    background-image: url(/src/assets/logoJornada.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 40px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    padding-right: 70px;

    cursor: pointer;
}

#temas-menu {
    width: 190px;
    height: 70px;


    margin: 210px 0px 0px 20px;
    background-color: var(--fundo-card-login);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: black;

    background-image: url(/src/assets/logoTemas.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 20px;

    padding-left: 20px;

    cursor: pointer;
}

#logo-atlas-menu {
    width: 130px;
    height: 40px;

    margin-top: 590px;
    margin-left: 35px;

    position: absolute;
    z-index: 1;
}

/* Config background */
header {
    width: 1550px;
    height: 830px;
    background-color: var(--fundo-card-login);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    position: absolute;

    margin-top: -250px;
    margin-left: 250px;
}

#card-menu {
    width: 1380px;
    height: 690px;
    margin: 70px;

    display: flex;
}

#left-container-menu {
    width: 450px;
    height: 640px;

    display: flex;
    flex-direction: column;
}

#greetings-h1 {
    font-family: 'sf-pro-hounded-bold';
    font-size: 40px;

    margin-bottom: 20px;
}

#greetings-p {
    font-family: 'sf-pro-hounded-medium';
}

/* container da direita */

#right-container {
    width: 875px;
    height: 640px;

    margin-left: 50px;;
}

#new-essay {
    width: 220px;
    padding: 10px;
    
    border-radius: 30px;
    margin-left: 650px;

    font-size: 17px;
    font-family: 'sf-pro-hounded-medium';
    color: white;

    background-color: #762D6F;
    background-image: url(/src/assets/logoEscreverRedacao.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 25px;

    padding-left: 35px;
    
    border: none;
    cursor: pointer;
}

/* redacoes corrigidas */

#corrected-essays-container {
    margin-top: 80px;
}

#redacao-corrigida {
    font-family: 'sf-pro-hounded-light';
    font-size: 14px;
    color: black;
}

#redacao-corrigida h3::before, #redacao-corrigida h3::after {
    content: '';
    position: absolute;
    width: 30%;
    border-top: 1px solid var(--cor-principal);
    margin-top: 0.9%;
}

#redacao-corrigida h3::before {
    margin-left: 170px;
}

#redacao-corrigida h3::after {
    margin-left: 180px;
}

#ver-tudo {
    text-align: end;
    margin-top: -20px;
}

#ver-tudo a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
}

/* fim redacoes corrigidas */

.corrected-essay {
    width: 170px;
    height: 140px;

    margin-top: 20px;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-items: center;

    scroll-snap-align: start;

    background-color: white;
}

.corrected-essay p {
    font-family: 'sf-pro-hounded-light';

    margin-left: 25px;

    color: black;
    background-color: transparent;

    position: relative;
}

#conteudo-carrosel {
    width: 850px;
}

#corrected-essay-carrosel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

#corrected-essay-carrosel::-webkit-scrollbar {
    display: none;
}



