#detalhe-fundo-menu {
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-bar-menu {
    width: 220px;
    height: 680px;
    border-radius: 20px;

    margin-left: 20px;
    margin-top: -100px;

    position: absolute;
}

#icone-menu {
    width: 50px;
    height: 50px;

    background-color: var(--fundo-card-login);
    margin: 20px 0px 0px 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background-image: url(/src/assets/perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    display: flex;

    border-radius: 15px;

    position: absolute;
    z-index: 2;

    cursor: pointer;

}

#jornada-menu {
    width: 130px;
    height: 70px;

    margin: 110px 0px 0px 20px;
    background-color: var(--cor-principal);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: white;

    background-image: url(/src/assets/logoJornada.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 40px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    padding-right: 10px;

    transition: 0.5 ease all;
    cursor: pointer;
}

#jornada-menu:hover  {
    width: 200px;
    transition: 0.5s all ease;
}

#temas-menu {
    width: 75px;
    height: 70px;


    margin: 210px 0px 0px 20px;
    background-color: var(--fundo-card-login);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: black;

    background-image: url(/src/assets/logoTemas.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 20px;

    padding-left: 20px;

    cursor: pointer;
}

#logo-atlas-menu {
    width: 130px;
    height: 40px;

    margin-top: 590px;
    margin-left: 35px;

    position: absolute;
    z-index: 1;
}

#logo-atlas-menor-menu {
    width: 40px;
    height: 45px;

    margin-top: 600px;
    margin-left: 20px;

    position: absolute;
    z-index: 1;
}

header {
    width: 1760px;
    height: 860px;
    background-color: var(--fundo-card-login);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    position: absolute;

    margin-top: -275px;
    margin-left: 130px;
}

#card-menu {
    width: 1380px;
    height: 690px;
    margin: 70px;

    display: flex;
}

#left-container-menu {
    width: 450px;
    height: 640px;

    display: flex;
    flex-direction: column;
}

#greetings-h1 {
    font-family: 'sf-pro-hounded-bold';
    font-size: 40px;

    margin-bottom: 20px;
}

#greetings-p {
    font-family: 'sf-pro-hounded-medium';
}

/* container da direita */

#right-container-menu {
    width: 1050px;
    height: 640px;

    margin-left: 20px;
}

#new-essay {
    width: 220px;
    padding: 10px;
    
    border-radius: 30px;

    font-size: 17px;
    font-family: 'sf-pro-hounded-medium';
    color: white;

    background-color: var(--cor-secundaria);
    background-image: url(/src/assets/logoEscreverRedacao.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 25px;

    padding-left: 35px;
    margin-left: 915px;

    border: none;
    cursor: pointer;
    transition: 0.5s ease all;
}

#new-essay:hover {
    opacity: 0.9;
}

#new-essay-container {
    position: absolute;
}

/* redacoes corrigidas */



.seta-direita {
    position: absolute;
    left: 1170px;
    top: 150px;

    border: none;
    background: transparent;
    cursor: pointer;
}

.seta-esquerda {
    position: absolute;
    right: 1170px;
    top: 150px;

    border: none;
    background: transparent;
    cursor: pointer;
}


#corrected-essays-container {
    width: 1130px;
    margin-top: 80px;

    position: absolute;
}

#redacao-corrigida {
    font-family: 'sf-pro-hounded-light';
    font-size: 16px;
    color: black;

    display: flex;
    justify-content: space-between;
}

#redacao-corrigida a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
    text-decoration: none;
}

/*

#redacao-corrigida h3::before, #redacao-corrigida h3::after {
    content: '';
    position: absolute;
    width: 30%;
    border-top: 1px solid var(--cor-principal);
    margin-top: 0.9%;
}

#redacao-corrigida h3::before {
    margin-left: 170px;
}

#redacao-corrigida h3::after {
    margin-left: 180px;
}

*/

#ver-tudo {
    text-align: end;
}

#ver-tudo a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
    text-decoration: none;
}

/*
#corrected-essay p {
    font-family: 'sf-pro-hounded-medium';
    font-size: 18px;
    
    background: transparent;
    text-align: center;
}
*/

#essay-options {
    position: absolute;

    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

    width: 150px;
    z-index: 100;
    margin-left: 120px;
    margin-top: 30px;

    overflow: hidden;
    transition: 0.2s ease, transform 0.2s ease;
}

#essay-option-item {
  padding: 10px 14px;

  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

#share-essay {
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-family: "sf-pro-hounded-medium";
    color: #666;
    transition: 0.3s ease all;
}

#share-essay:hover {
    color: var(--cor-principal);
    
}

#delete-essay {
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-family: "sf-pro-hounded-medium";
    color: #666;
    transition: 0.3s ease all;
}

#delete-essay:hover {
    color: red;
}

.corrected-essay {
    width: 200px;
    padding: 20px;

    margin-top: 30px;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    scroll-snap-align: start;

    background-color: white;

    
}

.corrected-essay p {
    text-align: center;
    font-family: 'sf-pro-hounded-medium';
    background: transparent;
}

#essay-options {
    background: transparent;
}

#corrected-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;

    background: none;
}

#corrected-time {
    background: none;

    font-size: 16px;
    font-family: 'sf-pro-hounded-medium';
}

#corrected-menu{
    cursor: pointer;

    background: none;
    border: none;
}

#corrected-footer {
    display: flex;
    justify-content: flex-end;

    background: transparent;
}

#NumberFinalScore {
  background-color: var(--cor-principal);
  color: white;

  padding: 6px 20px;
  border-radius: 20px;

  font-weight: bold;
  font-size: 18px;
  font-family: 'sf-pro-hounded-light';
}

#themeFinalScore {
    font-family: 'sf-pro-hounded-medium';
    font-size: 16px;
    margin-bottom: 10px;

    line-height: 1.4rem;

    background: transparent;
}

#conteudo-carrosel {
    width: 1130px;
    height: auto;
}

#corrected-essay-carrosel {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 30px;
}

#corrected-essay-carrosel::-webkit-scrollbar {
    display: none;
}

/* fim redacoes corrigidas */

/* Rascunhos */

#draft-essays-container {
    width: 1130px;
    height: auto;

    position: absolute;
}

#rascunho {
    font-family: 'sf-pro-hounded-light';
    font-size: 16px;
    color: black;

    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

#rascunho a {
    color: var(--cor-principal);
    font-family: 'sf-pro-hounded-bold';
    text-decoration: none;
}


.draft-essay {
    width: 200px;
    padding: 20px;

    margin-top: 35px;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*
    align-items: end;
    justify-items: center;
    */

    scroll-snap-align: start;

    background-color: white;
}

.draft-essay p {
    text-align: center;
    font-family: 'sf-pro-hounded-medium';
    background: transparent;
}

#themeFinalScore-draft {
    width: auto;
    height: auto;

    resize: none;
    border: none;

    font-family: 'sf-pro-hounded-medium';
    font-size: 16px;
    
    cursor: pointer;

    line-height: 1.4rem;

    background: transparent;
    
    transition: 0.3s ease;
    transform: 0.3s ease;
}

#themeFinalScore-draft:hover {
    color: var(--cor-principal);
    transform: scale(1.05);
}

#conteudo-draft-essay-carrosel {
    width: 1130px;
    height: auto;
}

#draft-essay-carrosel {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 30px;
}

#draft-essay-carrosel::-webkit-scrollbar {
    display: none;
}

#draft-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;

    background: none;
}

#draft-time {
    background: none;

    font-size: 16px;
    font-family: 'sf-pro-hounded-medium';
}   

#draft-menu {
    cursor: pointer;

    background: none;
    border: none;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00b6a0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-direction: column;
    font-family: 'sf-pro-hounded-medium';
    gap: 20px;
}

#loading-overlay p {
    background: transparent;
}

.loader {
    width: 50px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #ffffff 1deg 120deg,#0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    inset:0;
    background:inherit;
    transform-origin: 50% 66%;
    animation: l27-1 1.5s infinite;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
  }
  @keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
  }




