#detalhe-fundo-redacao {
    
    width: 100%;
    max-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    
}

#nav-bar-redacao {
    position: fixed;
    top: 190px;
    left: 20px;
    width: 170px;
    height: 70vh;
    z-index: 10;
    background-color: transparent;
}

#icone-redacao {
    width: 50px;
    height: 50px;

    background-color: var(--fundo-card-login);
    margin: 20px 0px 0px 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background-image: url(/src/assets/perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    display: flex;

    border-radius: 15px;

    position: absolute;
    z-index: 2;

    cursor: pointer;
}

#jornada-redacao {
    width: 130px;
    height: 70px;

    margin: 110px 0px 0px 20px;
    background-color: var(--cor-principal);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: white;

    background-image: url(/src/assets/logoJornada.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 40px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    padding-right: 10px;

    cursor: pointer;
}

#temas-redacao {
    width: 75px;
    height: 70px;


    margin: 210px 0px 0px 20px;
    background-color: var(--fundo-card-login);
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    position: absolute;
    z-index: 1;

    font-family: 'sf-pro-hounded-medium';
    font-size: 23px;
    letter-spacing: 1px;
    color: black;

    background-image: url(/src/assets/logoTemas.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 20px;

    padding-left: 20px;

    cursor: pointer;
}

#logo-atlas-redacao {
    width: 130px;
    height: 40px;

    margin-top: 590px;
    margin-left: 35px;

    position: absolute;
    z-index: 1;
}

#logo-atlas-menor-redacao {
    width: 40px;
    height: 45px;

    margin-top: 600px;
    margin-left: 20px;

    position: absolute;
    z-index: 1;
}

#card-redacao {
    width: 100%;
    max-width: 1720px;
    height: auto;
    min-height: 90vh;

    background-color: var(--fundo-card-login);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    position: relative;

    margin: 20px;
    margin-left: 120px;
    padding: 20px;
}

#container-card-redacao {
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-width: 1560;
    display: flex;
}

#container-left-redacao {
    width: 100%;
    max-width: 700px;
    height: 100px;

    padding: 10px;
    margin-left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent !important;
}

#meninaEscrevendo {
    width: 370px;
    height: auto;

    margin-top: -90px;

    position: relative;
}

#back-btn {
    width: 10px;
    padding: 16px;

    margin-right: 600px;
    border: none;

    background-image: url(/src/assets/backIcon.png);
    background-repeat: no-repeat;
    cursor: pointer;

    margin-top: 70px;
    position: relative;
}

#inf-redacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: relative;

    background: transparent !important;
}

.custom-file-essay {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--cor-secundaria); /* Cor roxa */
    color: white;
    padding: 10px 60px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "sf-pro-hounded-medium";
    font-size: 18px;
    margin-bottom: 20px;
    transition: 0.5s ease all;
}

.custom-file-essay:hover {
    opacity: 0.9;
}

#file-essay {
    display: none;
}

#camera-icon {
    width: 20px;
    height: 20px;
    fill: white;
    background: transparent;
}

/*
#file-essay {
    width: 230px;

    background-color: var(--cor-secundaria);

    text-align: none;
    color: white;
}
*/

label {
    font-family: 'sf-pro-hounded-regular';
    font-size: 20px;
}

#temaRoxo {
    color: #762D6F;
    font-family: 'sf-pro-hounded-bold'; 
}

#text-redacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#hamburguer {
    width: 50px;
    height: 50px;

    border-radius: 30px;
    background-color: #762D6F;
    border: none;

    background-image: url(/src/assets/hamburguer.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    margin-left: 10px;
}

#theme {
    width: 300px;
    margin: 0 auto 20px 50px;
    /*margin-left: 50px;
    margin-bottom: 20px;
    */
    

    font-size: 16px;
}

#model {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/*transition: 0.3s ease all;*/
/*
.modelType {
    width: 140px;
    padding: 15px;
    border-radius: 30px;

    font-family: 'sf-pro-hounded-bold';
    font-size: 16px;
    color: var(--cor-principal);
    border: 2px solid transparent;

    cursor: pointer;
    
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
*/

.modelType {
    width: 140px;
    padding: 15px;
    border-radius: 30px;

    font-family: 'sf-pro-hounded-bold';
    font-size: 16px;
    color: var(--cor-principal);
    border: none;

    background-color: var(--fundo-card-login);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    
}

.selected {
    border: 2px solid var(--cor-principal);
}

#correct {
    width: 140px;
    padding: 10px;
    border-radius: 30px;

    margin: 30px auto 0;

    background-color: #762D6F;

    font-family: 'sf-pro-hounded-bold';
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: .5s ease all;
}

#correct:hover {
    opacity: 0.9;
}

#container-right-redacao {
    width: 100%;
    max-width: 920px;
    margin: 60px auto 0 50px;
    
    display: flex;
    flex-direction: column;
    background: transparent !important;

    /*
    width: 800px;
    height: 790px;

    margin-left: 850px;
    margin-top: -50px;

    display: flex;
    flex-direction: column;
    */
    
}

#essay-title {
    width: 100%;
    max-width: 830px;
    padding: 10px;

    resize: none;

    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border: none;

    font-family: 'sf-pro-hounded-medium';
    font-size: 16px;
}

#essay-content {
    width: 100%;
    max-width: 830px;
    padding: 10px;
    height: 600px;

    resize: none;

    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border: none;

    margin-top: 20px;

    font-family: 'sf-pro-hounded-medium';
    font-size: 18px;
}

textarea:focus {
    outline: none;
}

input {
    outline: none;
}

#file-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background: none;

    margin-top: 25px;
    justify-content: center;
}

#file-name {
    font-family: 'sf-pro-hounded-medium';
    color: #7E7E7E;
    background: none;
    font-size: 1.1rem;
    transition: .3s ease all;
}

#file-name:hover {
    color: var(--cor-principal);
}

#file-container img {
    background: none;
}

@media screen and (max-width: 1440px) {
    #card-redacao {
        margin-left: 130px;
        width: 85%;
        height: 90vh;
    }

    #essay-content {
        max-width: 510px;
        height: 525px;
    }

    #essay-title {
        max-width: 510px;
    }

    #meninaEscrevendo {
        margin-top: -70px;
        width: 270px;
    }

    #inf-redacao {
        margin-top: 10px;
    }

    label {
        font-size: 18px;
    }

    #correct {
        margin: 20px auto 0;
    }

    #back-btn {
        margin-right: 520px;
        position: relative;
    }

    #theme {
        width: 250px;
        font-size: 14px;
    }

    .custom-file-essay {
        padding: 10px 20px;
        font-size: 16px;
    }

    #hamburguer {
        margin: 0 auto;
    }

    #logo-atlas-menor-redacao {
        margin-top: 550px;
    }

}

@media screen and (max-width: 1366px) {
    #card-redacao {
        margin-left: 130px;
        width: 85%;
        height: 90vh;
    }

    #essay-content {
        max-width: 510px;
        height: 470px;
    }

    #essay-title {
        max-width: 510px;
    }

    #meninaEscrevendo {
        margin-top: -120px;
        width: 270px;
    }

    #inf-redacao {
        margin-top: 10px;
    }

    label {
        font-size: 18px;
    }

    #correct {
        margin: 20px auto 0;
    }

    #back-btn {
        margin-right: 520px;
        position: relative;
    }

    #theme {
        width: 250px;
        font-size: 14px;
    }

    .custom-file-essay {
        padding: 10px 20px;
        font-size: 16px;
    }

    #hamburguer {
        margin: 0 auto;
    }

    #logo-atlas-menor-redacao {
        margin-top: 500px;
    }

}

/*

@media screen and (max-width: 1024px) {
    #container-card-redacao {
        display: flex;
        flex-direction: column;
    }

    #container-left-redacao {
        display: flex;
    }

    #card-redacao {
        margin-left: 130px;
        width: 82%;
        height: 90vh;
    }

    #essay-content {
        max-width: 510px;
        height: 470px;
    }

    #essay-title {
        max-width: 510px;
    }

    #meninaEscrevendo {
        margin-top: -120px;
        width: 270px;
    }

    #inf-redacao {
        margin-top: 10px;
    }

    label {
        font-size: 18px;
    }

    #correct {
        margin: 20px auto 0;
    }

    #back-btn {
        margin-right: 520px;
        position: relative;
    }

    #theme {
        width: 250px;
        font-size: 14px;
    }

    .custom-file-essay {
        padding: 10px 20px;
        font-size: 16px;
    }

    #hamburguer {
        margin: 0 auto;
    }

    #logo-atlas-menor-redacao {
        margin-top: 470px;
    }

}

*/